.box .box-content:first-child {
  width: 500px;
  height: 50px;
  background-color: bisque;
  color: #000;
}

.box p:last-child {
  color: blue;
}

.box + p {
  color: red;
}

p:only-child {
  color: blue;
}
